html , body , ::after , ::before { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    overflow-x: hidden ;
}

// MIXINS //

@mixin dancingScript { 
    font-family: 'Dancing Script';
    text-align: center;
}

@mixin radius { 
    border-radius: 10px;
}

@mixin flexCentered { 
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin Clamp { 
    font-size: clamp(25px , 4vw , 40px);
}

@mixin autoMargin { 
    display: flex;
    margin: auto;
}

// GENERAL BODY // 


body { 
    font-family: 'Gill Sans MT' , Calibri , 'Trebuchet MS' , sans-serif;
    position: relative;
    background: var(--bs-gradient);

    a { 
        text-decoration: none;
        color:black ;
    }
    a:hover { 
        color : black ; 
    }
}

// HEADER // 

header { 
    position: relative;
}

.welcome { 
    background: url(/IMG/welcome.jpg) center/cover;
    height: 60vh;
    position: relative;
}

h1 { 
    color: black;
    @include Clamp(); 
    padding: 5vh 0 ;
    width: 80%;
    @include dancingScript();
    @include autoMargin();
}


// NAVIGATION // 

nav { 
    background: var(--bs-purple);
    position: relative;
}

.navbar-nav { 
    overflow: hidden;
    padding-bottom: 1vh;
}
.navbar-toggler { 
    position: absolute;
    right: 15vw;
    bottom: 5vh;

}

.collapse a { 
    height: 25px;
    margin: 0 15px;
}

// MAIN // 


main { 
    position: relative;
    padding: 5vh 0 ;

    h2 , h3 {
        display: flex ;
        justify-content: center;
        @include Clamp() ; 
        @include dancingScript(); 
        margin-bottom: 5vh; 
    }
}
// Philosophy //

.firstArticle { 
    @include radius() ; 
    flex-direction: column;
    background: var(--bs-sun);
    padding: 25px 15px;
    display: flex;
    margin: 2vh auto;

    h3 { 
        margin : 5% 0 ;
    }
    img { 
        width: 70%;
        @include radius(); 
        @include autoMargin() ; 
        margin-bottom: 3vh;
    }
    p { 
        @include autoMargin();
        text-align: center;
        width: 90%;
        font-size : clamp( 15px , 1vw , 25px);
    }
}


// MISSIONS // 

.card { 
    @include radius(); 
    @include flexCentered() ; 
    background: var(--bs-sun);
    height: 100%;

    h3 { 
        @include Clamp(); 
        @include flexCentered() ; 
        text-align: center;
        margin-top: 25px;
    }
    img { 
        @include radius(); 
        width: 75% ; 
        max-width: 505px;
        margin: auto;

    }
}
.card { 
    a { 
        margin-bottom: 5vh ;
        border: 1px solid black ;
        background: var(--bs-sun);
        border-radius: 5px;
        padding: 1vh 1vw ;
    }
    a:hover { 
        background: var(--bs-gradient);
        color: white;
    }
    a:active { 
        background: var(--bs-gradient);
    }
}

.card { 
    p { 
    width: 90%;
    text-align: center;
    margin: 1vh auto;
    font-size: clamp(15px , 1vw , 25px);
    }
}

// EVENTS INDEX //
h4 { 
    @include flexCentered(); 
    @include dancingScript() ; 
    @include Clamp() ; 
    margin: 2vh auto
}

h5 { 
    @include dancingScript() ; 
    @include Clamp() ; 
    font-weight: bold;
    margin-top: 25px;
    font-style: italic;
    text-align: center;
    color: var(--bs-sun);
}

.events { 
    margin: 50px 0 ; 
    background: var(--bs-purple);
    @include radius();
    @include flexCentered() ; 
}

.events  { 
    a { 
        color: white;
        margin: 20px 0;
    }
    a:hover { 
        background: var(--bs-sun);
        color: black; 
    }
    a:active { 
        background: var(--bs-gradient);
        color: white ;
    }
}

.texts { 
    font-size: clamp(18px , 1.8vw , 50px);
    text-align: center;
}

// FOOTER // 

footer{ 
    position: static ; 
    bottom: 0;
    background: var(--bs-sun);

    h6 { 
        color: black;
        @include flexCentered(); 
        font-size: clamp(15px , 2vw , 45px);
        @include dancingScript(); 
        padding: 2vh 0 ;
    }
    .list-group { 
        @include flexCentered(); 
        width: 100vw;
    }
}

// PAGE EVENEMENTS // 

.event-main { 
    background: url(/IMG/welcome.jpg)center/cover;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    h1 { 
        color: white ;
        margin-top: 5vh;
        @include flexCentered()
    }
    section { 
        margin-top: 15vh;
    }
    footer { 
        position: static;
        bottom: 0;
    }
}


.articles { 
    @include radius(); 
    background:var(--bs-sun) ; 
    margin: 3vh auto ;
    max-width :90%; 

    h2 { 
        @include flexCentered(); 
        margin-top: 5vh;
        @include dancingScript(); 
        text-align: center;
    }
    img { 
        width: 70%; 
        @include radius(); 
        display: flex ;
        margin: 3vh auto;
    }
    .help {
        width: 60%; 
    }
}
.articles { 
    a{ 
        width: 40%;
        display: flex;
        margin: 3vh auto;
        justify-content: center;
    }
    a:hover { 
        background: var(--bs-gradient);
    }
    a:active { 
        background: var(--bs-gradient);
    }
    p { 
        width: 90%;
        text-align: center;
        @include autoMargin();
    }
}

.form { 
    background: var(--bs-sun);
    @include radius();
    
    h3 { 
        margin: 5vh auto;
    }
    
} 
.modal { 
    background: var(--bs-gradient);
}
.modal-title { 
    color: black;
}

.form {
button  { 
    display: flex;
    margin: 2vh auto;
}
button:hover { 
    background: var(--bs-gradient);
    
}
button:active { 
    background: var(--bs-gradient);
}
}

.controls { 
    label { 
        opacity: 0;
    }
}



// MEDIA QUERIES // 

@media screen and (min-width:768px) { 
    .form { 
        @include autoMargin();
        flex-direction: column;
        .controls { 
            display: flex;
            justify-content: space-around;
            flex-direction: row;
        }
        
    }
    .home article { 
        width: 50%;
        @include autoMargin();
        margin-bottom: 5vh; 
    }
    .home::before { 
        content:""; 
        display: block;
        position: absolute;
        height: 400px;
        width: 2px;
        left: 18%;
        top: 5%;
        background: white;
    }
    .home::after { 
        content:""; 
        display: block;
        position: absolute;
        height: 400px;
        width: 2px;
        left: 82%;
        top: 5%;
        background: white;
    }
    .firstArticle { 
        width: 60%;
    }
    .events { 
        width: 80%;
        @include autoMargin()
    }
}





