html , body , ::after , ::before { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    overflow-x: hidden ;
}

// MIXINS //

@mixin dancingScript { 
    font-family: 'Dancing Script';
    text-align: center;
}

@mixin radius { 
    border-radius: 10px;
}

@mixin flexCentered { 
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin Clamp { 
    font-size: clamp(25px , 4vw , 40px);
}

@mixin autoMargin { 
    display: flex;
    margin: auto;
}

// GENERAL BODY // 


body { 
    font-family: 'Gill Sans MT' , Calibri , 'Trebuchet MS' , sans-serif;
    position: relative;
    background: var(--bs-gradient);

    a { 
        text-decoration: none;
        color:black ;
    }
    a:hover { 
        color : black ; 
    }
}

// HEADER // 

header { 
    position: relative;
}

.welcome { 
    background: url(/IMG/welcome.jpg) center/cover;
    height: 60vh;
    position: relative;
}

h1 { 
    color: black;
    @include Clamp(); 
    padding: 5vh 0 ;
    width: 80%;
    @include dancingScript();
    @include autoMargin();
}

// NAVIGATION // 

nav { 
    background: var(--bs-purple);
}

.navbar-nav { 
    overflow: hidden;
    height: 35vh;
}
.navbar-toggler { 
    position: absolute;
    right : 15vw ; 
    bottom: 10vh;
}

.collapse a { 
    height: 25px;
    margin: 0 15px;
}

// MAIN // 


main { 
    position: relative;
    padding: 5vh 0 ;

    h2 , h3 {
        display: flex ;
        justify-content: center;
        @include Clamp() ; 
        @include dancingScript(); 
        margin-bottom: 5vh; 
    }
}
// Philosophy //

.firstArticle { 
    @include radius() ; 
    flex-direction: column;
    background: var(--bs-sun);
    padding: 25px 15px;
    width:60%;
    display: flex;
    margin: 2vh auto;

    h3 { 
        margin : 5% 0 ;
    }
    img { 
        width: 70%;
        @include radius(); 
        @include autoMargin() ; 
        margin-bottom: 3vh;
    }
    p { 
        @include autoMargin();
        text-align: center;
        width: 90%;
        font-size : clamp( 15px , 1vw , 25px);
    }
}


// MISSIONS // 

.card { 
    @include radius(); 
    @include flexCentered() ; 
    background: var(--bs-sun);
    height: 100%;

    h3 { 
        @include Clamp(); 
        @include flexCentered() ; 
        text-align: center;
        margin-top: 25px;
    }
    img { 
        @include radius(); 
        width: 75% ; 
        max-width: 505px;
        margin: auto;

    }
}
.card { 
    a { 
        margin-bottom: 5vh ;
        border: 1px solid black ;
        background: var(--bs-sun);
        border-radius: 5px;
        padding: 1vh 1vw ;
    }
    a:hover { 
        background: var(--bs-gradient);
        color: white;
    }
    a:active { 
        background: var(--bs-gradient);
    }
}

.card { 
    p { 
        width: 90%;
        text-align: center;
        font-size: clamp(15px , 1vw , 25px);
    }
}





@media  (min-width :220px) and (orientation:portrait) and (max-width:500px){ 
    .firstArticle { 
        width : 100%
    }
}