html, body, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Gill Sans MT' , Calibri , 'Trebuchet MS' , sans-serif;
  position: relative;
  background: var(--bs-gradient);
}

body a {
  text-decoration: none;
  color: black;
}

body a:hover {
  color: black;
}

header {
  position: relative;
}

.welcome {
  background: url(/IMG/welcome.jpg) center/cover;
  height: 60vh;
  position: relative;
}

h1 {
  color: black;
  font-size: clamp(25px, 4vw, 40px);
  padding: 5vh 0;
  width: 80%;
  font-family: 'Dancing Script';
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

nav {
  background: var(--bs-purple);
  position: relative;
}

.navbar-nav {
  overflow: hidden;
  padding-bottom: 1vh;
}

.navbar-toggler {
  position: absolute;
  right: 15vw;
  bottom: 5vh;
}

.collapse a {
  height: 25px;
  margin: 0 15px;
}

main {
  position: relative;
  padding: 5vh 0;
}

main h2, main h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: clamp(25px, 4vw, 40px);
  font-family: 'Dancing Script';
  text-align: center;
  margin-bottom: 5vh;
}

.firstArticle {
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--bs-sun);
  padding: 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2vh auto;
}

.firstArticle h3 {
  margin: 5% 0;
}

.firstArticle img {
  width: 70%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 3vh;
}

.firstArticle p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  text-align: center;
  width: 90%;
  font-size: clamp(15px, 1vw, 25px);
}

.card {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--bs-sun);
  height: 100%;
}

.card h3 {
  font-size: clamp(25px, 4vw, 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 25px;
}

.card img {
  border-radius: 10px;
  width: 75%;
  max-width: 505px;
  margin: auto;
}

.card a {
  margin-bottom: 5vh;
  border: 1px solid black;
  background: var(--bs-sun);
  border-radius: 5px;
  padding: 1vh 1vw;
}

.card a:hover {
  background: var(--bs-gradient);
  color: white;
}

.card a:active {
  background: var(--bs-gradient);
}

.card a:focus {
  background: var(--bs-gradient);
}

.card p {
  width: 90%;
  text-align: center;
  margin: 1vh auto;
  font-size: clamp(15px, 1vw, 25px);
}

h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Dancing Script';
  text-align: center;
  font-size: clamp(25px, 4vw, 40px);
  margin: 2vh auto;
}

h5 {
  font-family: 'Dancing Script';
  text-align: center;
  font-size: clamp(25px, 4vw, 40px);
  font-weight: bold;
  margin-top: 25px;
  font-style: italic;
  text-align: center;
  color: var(--bs-sun);
}

.events {
  margin: 50px 0;
  background: var(--bs-purple);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events a {
  color: white;
  margin: 20px 0;
}

.events a:hover {
  background: var(--bs-sun);
  color: black;
}

.events a:active {
  background: var(--bs-gradient);
  color: white;
}

.texts {
  font-size: clamp(18px, 1.8vw, 50px);
  text-align: center;
}

footer {
  position: static;
  bottom: 0;
  background: var(--bs-sun);
}

footer h6 {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(15px, 2vw, 45px);
  font-family: 'Dancing Script';
  text-align: center;
  padding: 2vh 0;
}

footer .list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.event-main {
  background: url(/IMG/welcome.jpg) center/cover;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.event-main h1 {
  color: white;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event-main section {
  margin-top: 15vh;
}

.event-main footer {
  position: static;
  bottom: 0;
}

.articles {
  border-radius: 10px;
  background: var(--bs-sun);
  margin: 3vh auto;
  max-width: 90%;
}

.articles h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vh;
  font-family: 'Dancing Script';
  text-align: center;
  text-align: center;
}

.articles img {
  width: 70%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3vh auto;
}

.articles .help {
  width: 60%;
}

.articles a {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3vh auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articles a:hover {
  background: var(--bs-gradient);
}

.articles a:active {
  background: var(--bs-gradient);
}

.articles p {
  width: 90%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.form {
  background: var(--bs-sun);
  border-radius: 10px;
}

.form h3 {
  margin: 5vh auto;
}

.modal {
  background: var(--bs-gradient);
}

.modal-title {
  color: black;
}

.form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2vh auto;
}

.form button:hover {
  background: var(--bs-gradient);
}

.form button:active {
  background: var(--bs-gradient);
}

.controls label {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form .controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .home article {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-bottom: 5vh;
  }
  .home::before {
    content: "";
    display: block;
    position: absolute;
    height: 400px;
    width: 2px;
    left: 18%;
    top: 5%;
    background: white;
  }
  .home::after {
    content: "";
    display: block;
    position: absolute;
    height: 400px;
    width: 2px;
    left: 82%;
    top: 5%;
    background: white;
  }
  .firstArticle {
    width: 60%;
  }
  .events {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */